In [105]:
import pandas as pd
import numpy as np

In [192]:
df = pd.read_csv("demo_norms.csv")
df

        norms_id scale  raw  std
0   ita_all_norm    s1    0   10
1   ita_all_norm    s1    1   20
2   ita_all_norm    s1    2   30
3   ita_all_norm    s1    3   40
4   ita_all_norm    s1    4   50
..           ...   ...  ...  ...
61  ita_all_norm    s3   11  265
62  ita_all_clin    s3   12  270
63  ita_all_clin    s3   13  275
64  ita_all_clin    s3   14  280
65  ita_all_clin    s3   15  285

[66 rows x 4 columns]

In [200]:
norms = df.pivot_table(index=['scale','raw'], columns=['norms_id'], values=['std']).reset_index()

In [201]:
norms

         scale raw          std
norms_id           ita_all_clin ita_all_norm
0           s1   0        210.0         10.0
1           s1   1        220.0         20.0
2           s1   2        230.0         30.0
3           s1   3        240.0         40.0
4           s1   4        250.0         50.0
5           s1   5        260.0         60.0
6           s1   6        270.0         70.0
7           s1   7        280.0         80.0
8           s1   8        290.0         90.0
9           s1   9        300.0        100.0
10          s1  10        310.0        110.0
11          s2   0        210.0         10.0
12          s2   1        220.0         20.0
13          s2   2        240.0         40.0
14          s2   3        260.0         60.0
15          s2   4        280.0         80.0
16          s2   5        300.0        100.0
17          s3   0        210.0         10.0
18          s3   1        215.0         15.0
19          s3   2        220.0         20.0
20          s3   3        225.0         25.0
21          s3   4        230.0         30.0
22          s3   5        235.0         35.0
23          s3   6        240.0         40.0
24          s3   7        245.0         45.0
25          s3   8        250.0         50.0
26          s3   9        255.0         55.0
27          s3  10        260.0         60.0
28          s3  11          NaN        165.0
29          s3  12        270.0         70.0
30          s3  13        275.0         75.0
31          s3  14        280.0         80.0
32          s3  15        285.0         85.0

In [176]:
import re
[ "_".join(re.findall(r'\b\w+\b', c))  for c in norms.columns.values  ]

['index', 'scale', 'raw', 'std_ita_all_clin', 'std_ita_all_norm']