In [105]:
import pandas as pd
import numpy as np

In [99]:
df = pd.read_csv("demo_norms.csv")
df

        norms_id scale  raw  std
0   ita_all_norm    s1    0   10
1   ita_all_norm    s1    1   20
2   ita_all_norm    s1    2   30
3   ita_all_norm    s1    3   40
4   ita_all_norm    s1    4   50
..           ...   ...  ...  ...
61  ita_all_norm    s3   11  265
62  ita_all_clin    s3   12  270
63  ita_all_clin    s3   13  275
64  ita_all_clin    s3   14  280
65  ita_all_clin    s3   15  285

[66 rows x 4 columns]

In [162]:
pd.pivot_table(df, columns=['norms_id', "scale"], values=["raw","std"], aggfunc=np.size)

norms_id ita_all_clin        ita_all_norm
scale              s1 s2  s3           s1 s2  s3
raw                11  6  15           11  6  17
std                11  6  15           11  6  17

In [163]:
norms = df.pivot_table(values=['std'], index=['scale','raw'], columns=['norms_id']).reset_index()

In [164]:
norms = pd.DataFrame(norms.to_records()) 
norms.columns

Index(['index', '('scale', '')', '('raw', '')', '('std', 'ita_all_clin')',
       '('std', 'ita_all_norm')'],
      dtype='object')

In [176]:
import re
[ "_".join(re.findall(r'\b\w+\b', c))  for c in norms.columns.values  ]

['index', 'scale', 'raw', 'std_ita_all_clin', 'std_ita_all_norm']